.header__link {
  margin: 0;
  text-decoration: none;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  margin-right: 24px;
}

.header__link:last-of-type {
  margin-right: 0;
}

@media (min-width: 768px) {
  .header__link {
    margin-top: 6px;
  }
}
