.profile__edit-avatar {
  position: absolute;
  display: none;
  top: 47px;
  left: 117px;
  margin: 0;
  padding: 0;
  width: 26px;
  height: 26px;
  border: none;
  background-image: url(../../../images/edit-avatar.svg);
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 768px) {
  .profile__edit-avatar {
    left: 47px;
  }
}
