.auth {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  align-self: center;
  width: 238px;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .auth {
    width: 358px;
    margin-top: 60px;
  margin-bottom: 80px;
  }
}
